img {
  width: 50px !important;
  height: 50px !important;
}

.alert-checkbox-group, .alert-radio-group {
  height: 47vh;
}

.avatar img {
  margin: auto;
}

.name {
  text-align: center;
}
ion-fab {
  position: absolute;
  float:  right;
  right: 0;
  bottom: 2vh;
  margin-right: 3vh;
}

.gray_color{
  color: #989696
}
.direction_column {
  flex-direction: column;
}
.bigger_size{
  font-size: 55px;
  margin-top: 10px;
  color: #b3acac;
}
h5 {
  color: #827b7b
}

.toolbar-background.toolbar-background-md, 
.toolbar-background.toolbar-background-ios{
  background: #052864;
  color: white;
}

.toolbar-title.toolbar-title-md,
.toolbar-title.toolbar-title-ios {
  color:  white;
  font-size: 1.2em;
}

.toolbar-content.toolbar-content-md {
  display: inline-flex;
}

button.back-button.bar-button.bar-button-md.back-button-md.bar-button-default.bar-button-default-md.show-back-button {
  color: white;
}

.hasError{
    color: #FA2C00;
    margin-left: 5%;
}

h5 {
  text-align: center;
}

// Dragula stuff
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}