<ion-header>

  <ion-navbar>
    <ion-title>Lista de Projetos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-row *ngIf="!showLoading && projectsList?.length === 0" class="direction_column" align-items-center>
    <ion-icon class="bigger_size" name="md-alert"></ion-icon>
    <h5>Nenhum projeto encontrado.</h5>
  </ion-row>

  <ion-card *ngFor="let project of projectsList" (click)="goToProjectKanban(project.id)">
    <ion-card-content>
      <ion-item>
        <button *ngIf="isAdmin" item-end class="overflow-btn" (click)="presentPopover($event)">
          <ion-icon name="more"></ion-icon>
        </button>
        <ion-avatar item-start>
          <img [src]="project.avatarUrls['16x16']" />
          <ion-label item-start text-wrap> {{ project.name }}</ion-label>
          <ion-label *ngIf="project.projectTypeKey" item-start text-wrap> {{ project.projectTypeKey }}</ion-label>
        </ion-avatar>
      </ion-item>
      <ion-label *ngIf="project.description" item-start text-wrap margin-left> {{ project.description }}</ion-label>
      <ion-item *ngIf="project.lead">
        <ion-avatar item-start>
          <ion-label item-start>
            <b>Líder do Projeto</b>
          </ion-label>
          <img item-start [src]="project.lead.avatarUrls['16x16']" />
          <ion-label item-start>{{ project.lead.displayName }}</ion-label>
        </ion-avatar>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-fab *ngIf="isAdmin">
    <button ion-fab color="primary" (click)="createProjectPage()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>



</ion-content>