<ion-header>

  <ion-navbar>
    <ion-title>Lista de Projetos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-row *ngIf="projectsList?.length === 0 && !showLoading" class="direction_column" align-items-center>
    <ion-icon class="bigger_size" name="md-alert"></ion-icon>
    <h5>Nenhum projeto encontrado.</h5>
  </ion-row>

  <ion-card *ngFor="let project of projectsList">
      <ion-item>
        <ion-avatar item-start>
          <img [src]="project.avatarUrls['16x16']" />
          <ion-label item-start text-wrap> {{ project.name }}</ion-label>
          <ion-label *ngIf="project.projectTypeKey" item-start text-wrap> {{ project.projectTypeKey }}</ion-label>
        </ion-avatar>
      </ion-item>
      <ion-label *ngIf="project.description" item-start text-wrap margin-left> {{ project.description }}</ion-label>
      <ion-item *ngIf="project.lead">
        <ion-avatar item-start>
          <ion-label item-start><b>Líder do Projeto</b></ion-label>
          <img item-start [src]="project.lead.avatarUrls['16x16']" />
          <ion-label item-start>{{ project.lead.displayName }}</ion-label>
        </ion-avatar>
      </ion-item>
    </ion-card>

  <ion-fab>
    <button ion-fab color="primary">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>



</ion-content>