<ion-header>
  <ion-navbar hideBackButton>
    <button ion-button (click)="openMenu()" class="menu-button">
      <ion-icon class="menu-button-icon" name="menu"></ion-icon>
    </button>
    <ion-title>
      Ionic Blank
    </ion-title>
    <button class=" refresh-btn">
      <ion-icon class="menu-button-icon" name="refresh"></ion-icon>
    </button>
    <button class="plus-btn">
      <ion-icon class="menu-button-icon" name="add" (click)="presentAddEditIssueModal()"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid id="grid">
    <ion-row>
      <ion-col col-1>
        <div class="kanban-header">To Do</div>
        <ion-list class="kanban-col to-do" [dragula]='"bag"' [dragulaModel]="q1" no-lines id="to-do">
          <ion-item ion-item *ngFor="let item of q1" no-lines (click)="editIssue()">

            <p>OI</p>
            <p>{{item}}</p>
            <p>OI</p>
            <p>{{item}}</p>
            <p>OI</p>
            <p>{{item}}</p>
          </ion-item>
        </ion-list>
      </ion-col>

      <ion-col col-1>
        <div class="kanban-header">Doing</div>
        <ion-list class="kanban-col doing" [dragula]='"bag"' [dragulaModel]="q2" no-lines id="doing">
          <ion-item ion-item *ngFor="let item of q2" no-lines>
            <p>OI</p>
            <p>{{item}}</p>
            <p>OI</p>
            <p>{{item}}</p>
            <p>OI</p>
            <p>{{item}}</p>
          </ion-item>
        </ion-list>
      </ion-col>

      <ion-col col-1>
        <div class="kanban-header">To Test</div>
        <ion-list class="kanban-col to-test" [dragula]='"bag"' [dragulaModel]="q3" no-lines id="to-test">
          <ion-item ion-item *ngFor="let item of q3" no-lines>
            <p>OI</p>
            <p>{{item}}</p>
            <p>OI</p>
            <p>{{item}}</p>
            <p>OI</p>
            <p>{{item}}</p>
          </ion-item>
        </ion-list>
      </ion-col>

      <ion-col col-1>
        <div class="kanban-header">Testing</div>
        <ion-list class="kanban-col testing" [dragula]='"bag"' [dragulaModel]="q4" no-lines id="testing">
          <ion-item ion-item *ngFor="let item of q4" no-lines>
            <p>OI</p>
            <p>{{item}}</p>
            <p>OI</p>
            <p>{{item}}</p>
            <p>OI</p>
            <p>{{item}}</p>
          </ion-item>
        </ion-list>
      </ion-col>

      <ion-col col-1 style="margin-right: 0" id="done">
        <div class="kanban-header">Done</div>
        <ion-list class="kanban-col done" [dragula]='"bag"' [dragulaModel]="q5" no-lines>
          <ion-item ion-item *ngFor="let item of q5" no-lines>
            <p>OI</p>
            <p>{{item}}</p>
            <p>OI</p>
            <p>{{item}}</p>
            <p>OI</p>
            <p>{{item}}</p>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>


</ion-content>