page-Kanban {

  .scroll-content{
    overflow: hidden;
  }

  .kanban-header{
    z-index: 10;
    margin-top: -2vh;
    position: fixed;
    background: white;
    width: 100%;
  }

  #grid{
    height: 103% !important;
    overflow: auto;
  }

  ion-row{
    padding-right: 10vh;
    margin-top: 0 !important;
    width: 150%;
    margin-top: 5vh;
  }

  ion-list.kanban-col.done.list {
    margin-left: -2vh;
  }

  ion-col.col{
    margin-right: 13%;
    width: 30vh;
  }
  ion-list {
    margin-top: 3vh !important;
    padding: 1vh 1vh 1vh 1vh;
    min-height: 100%;
    width: 45vh;
    background-color: #eeeeee;

    ion-item.item.item-block {
      margin-bottom: 1vh;
      width: 43vh;
      background: white;
    }
  }
}
