page-Kanban {

  .scroll-content{
    overflow: hidden;
  }

  #grid{
    padding-bottom: 10vh;
    height: 78vh !important;
    overflow-y: auto;
  }

  ion-col.col{
    margin-right: 4%;
    width: 30vh;
  }
  ion-list {
    padding: 1vh 1vh 1vh 1vh;
    min-height: 100%;
    width: 30vh;
    background-color: #eeeeee;

    ion-item.item.item-block {
      margin-bottom: 1vh;
      width: 28vh;
      background: black;
    }
  }

  .kanban-row{
    margin-top: 5vh;
  }

  .title-row{
    position: fixed;
    background: white;
    color: black;
    z-index: 1;
    margin-top: -10px;
    ion-col{
      margin-left: 1vh;
      margin-right: 10vh;
    }
  }

}
