page-Kanban {

  .scroll-content{
    overflow: hidden;
  }

  .kanban-header{
    z-index: 10;
    position: relative;
    background: white;
    width: 45vh;
    text-align: center;
  }

  #grid{
    height: 103% !important;
    overflow: auto;
  }

  ion-row{
    padding-right: 10vh;
    margin-top: 0 !important;
    width: 150%;
    margin-top: 5vh;
  }

  ion-col.col{
    margin-right: 13%;
    width: 30vh;
  }
  ion-list {
    margin-top: 5vh !important;
    padding: 1vh 1vh 1vh 1vh;
    min-height: 100%;
    width: 45vh;
    background-color: #eeeeee;

    ion-item.item.item-block {
      margin-bottom: 1vh;
      width: 43vh;
      background: white;
    }
  }

  .menu-button-icon{
    font-size: 2em;
  }

  .toolbar-content.toolbar-content-md {
    display: flex;
  }
}
