<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col width-50 class="left">
      <div class="header">First Bucket</div>
      <ion-list [dragula]='"bag"' [dragulaModel]="q1" no-lines>
        <ion-item ion-item *ngFor="let item of q1" no-lines>
          <h4 ion-item item-start>{{item}}</h4>
          <h1 ion-item item-start>OI</h1>
        </ion-item>
      </ion-list>
    </ion-col>

    <ion-col width-50 class="right">
      <div class="header">Second Bucket</div>
      <ion-list [dragula]='"bag"' [dragulaModel]="q2" no-lines>
        <ion-item ion-item *ngFor="let item of q2" no-lines>
          <h4 ion-item item-start>{{item}}</h4>
          <h1 ion-item item-start>OI</h1>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

</ion-content>